AI Telegram Bot for Automated Meeting Schedu.json
{
  "name": "bossrendezvous",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -160
      ],
      "id": "97b1d847-e701-4fd0-983d-15cc40154ebf",
      "name": "Telegram Trigger",
      "webhookId": "c74dd43d-7c99-4349-aa9f-e933d1745c1f",
      "credentials": {
        "telegramApi": {
          "id": "4ygjURntzcvZHWgO",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        64
      ],
      "id": "f502242d-0992-4564-82ec-8b65cfc61580",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NacDcAnAn6hCW7sR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        64
      ],
      "id": "46baa94c-acf5-451d-a3d8-eebee5f68f1f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "eloifi.sahil@gmail.com",
          "mode": "list",
          "cachedResultName": "eloifi.sahil@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "e165058a-f8f9-44dc-92fc-821118d28235",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fqAPIe3bG3DUsdcc",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -160
      ],
      "id": "3ef727ea-7076-4084-901d-75a13266c284",
      "name": "Send a text message",
      "webhookId": "a3193927-05c8-4038-8908-1ecffce95ac9",
      "credentials": {
        "telegramApi": {
          "id": "4ygjURntzcvZHWgO",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=## Overview\nYou are a Telegram scheduling assistant that helps manage employee meetings and reminders.  \nThe current date and time is {{ $now.toString() }}.\n\n## Tools\n- Google Gemini Chat Model: Used for natural language understanding and response generation.  \n- Simple Memory: Stores and recalls past user context or scheduling details.  \n- Google Calendar: Creates and manages calendar events.  \n- EMPLOYEE NOTIFICATION (Gmail): Sends meeting notifications or reminders to employees.  \n- Employee Database (Google Sheets): Reads employee information for scheduling and lookup.\n\n## Rules\n- Always confirm event details before creating a calendar entry.  \n- Use memory to maintain conversation context across messages.  \n- Return concise Telegram-formatted text responses.\n\n## Instructions\n1) Interpret the Telegram message intent (meeting, reminder, or info request).  \n2) Use the appropriate tools to retrieve, create, or notify based on intent.  \n3) Send the summarized confirmation or response text back to Telegram.\n\n## Examples\n1)\nInput: \"Schedule a meeting with Alex tomorrow at 10 AM\"\n- Action: Use Google Calendar to create event + Gmail to notify employee.\n- Output: \"Meeting with Alex scheduled for tomorrow at 10 AM. Notification sent.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -160
      ],
      "id": "c1f38788-0e06-42b3-b89b-a03fffa1708a",
      "name": "gemini 2.5"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        128,
        64
      ],
      "id": "7b6555a3-0852-4604-af77-39478d226bee",
      "name": "EMPLOYEE NOTIFICATION",
      "webhookId": "8e409449-c851-40d3-82d0-b798c248dd91",
      "credentials": {
        "gmailOAuth2": {
          "id": "rEjPmb2DJWMV2B5d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-9aWbCooex39amMdhO-iOIsjkUHf-8C21CTuvlfsJA8",
          "mode": "list",
          "cachedResultName": "bossrendezvous",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-9aWbCooex39amMdhO-iOIsjkUHf-8C21CTuvlfsJA8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-9aWbCooex39amMdhO-iOIsjkUHf-8C21CTuvlfsJA8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        64
      ],
      "id": "5de9cdcb-d5f4-4d79-b0bf-2181a59a5c36",
      "name": "Employe database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NybwREx0PAlUlxJK",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "gemini 2.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "gemini 2.5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "gemini 2.5",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "gemini 2.5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gemini 2.5": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMPLOYEE NOTIFICATION": {
      "ai_tool": [
        [
          {
            "node": "gemini 2.5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employe database": {
      "ai_tool": [
        [
          {
            "node": "gemini 2.5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60369070-8bdd-4847-a057-6d7949aab700",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8286ea9c655ad2042b583465a30dcb17dbbc43121d61dc36d44088284c65e0a"
  },
  "id": "rR8PtIqbkzYE7JkE",
  "tags": []
}